.Dashboard{
  color:steelblue;
}
.search-bar-container {
    padding-top: 2vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}
  
  .chart-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-md-4 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .victory-pie {
    width: 70%; 
    height: 70%; 
  }

  .little-card {
    display: inline-block;
    margin: 0 10px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(60, 118, 255, 0.212);
    padding: 10px;
    width: 275px; 
    height: 300px; 
  }

  .little-card.wind{
    background-image: url(wind.jpeg);
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .little-card.rain{
    background-image: url(rain.avif);
    background-repeat: no-repeat;
    background-position: center bottom 20px;
    background-size: 80%;
  }

  .little-card.temp{
    background-image: url(temperature.avif);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 70%;
  }
  
  .little-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .little-card-body {
    padding: 20px;
    /*color: steelblue;*/
  }
  
  .little-card-text {
    font-size: 16px;
  }

  .first-card {
    display: inline-block;
    margin: 0 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 420px;
    height: 530px;
    background-color: white;
  }
  
  .first-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .first-card-body {
    padding: 20px;
    /*color: steelblue;*/
  }
  
  .first-card-text {
    font-size: 16px;
  }

  .second-card {
    display: inline-block;
    margin: 0 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 900px;
    height: 530px;
    background-color: white;
  }
  
  .second-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .second-card-body {
    padding: 20px;
    /*color: steelblue;*/
  }
  
  .second-card-text {
    font-size: 16px;
  }

  .third-card {
    display: inline-block;
    margin: 0 10px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 1320px;
    height: 750px;
    background-color: white;
  }
  
  .third-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .third-card-body {
    padding: 20px;
    /*color: steelblue;*/
  }
  
  .third-card-text {
    font-size: 16px;
  }

  .card{
    width: 200px;
    height: 100%;
  }