.navbar
{
  background-color: whitesmoke;
}
.navbar-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-nav{
  font-family:serif;
  font-weight: 700;
  font-size: 20px;
}
.navbar-logo {
  padding-left: 5px;
  width: 40px;
  height: auto; 
} 
